################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net10.0
/obj
/OrderProcessor/obj
/OrderProcessor/bin/Debug/net10.0
/Orderoo/obj
/Orderoo/bin/Debug/net10.0
